Repository olukotun-ts/CircleCI-Training-Koans: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_hello, run_yaml, config_dir=01_Hello_World, config_dir=02_Yaml

Remove config_dir mapping
  .circleci/config.yml
Due: none

Trigger build
  01_Hello_World/.circleci/config.yml
Due: run_hello, config_dir=01_Hello_World

Restore config_dir
  .circleci/config.yml
Due: none

Add path for config_dir
  .circleci/config.yml
Due: none

Trigger builds in two folders
  .circleci/config.yml
  01_Hello_World/.circleci/config.yml
  02_Yaml/.circleci/config.yml
Due: run_hello, run_yaml, config_dir=01_Hello_World, config_dir=02_Yaml

Trigger build in one folder
  01_Hello_World/.circleci/config.yml
Due: run_hello, config_dir=01_Hello_World

Change one folder
  01_Hello_World/.circleci/config.yml
Due: run_hello, config_dir=01_Hello_World

Change casing for config_dir
  .circleci/config.yml
  .circleci/continue_config.yml
Due: none

Change one folder
  02_Yaml/.circleci/config.yml
Due: run_yaml, config_dir=02_Yaml

Restore casing to config_dir
  .circleci/config.yml
Due: none

Add config_dir2
  .circleci/config.yml
  .circleci/continue_config.yml
Due: none

Restore boolean mappings
  .circleci/config.yml
  .circleci/continue_config.yml
Due: none

Change two folders
  01_Hello_World/.circleci/config.yml
  02_Yaml/.circleci/config.yml
Due: run_hello, run_yaml, config_dir=01_Hello_World, config_dir=02_Yaml

Add mapping params thru module 05
  .circleci/config.yml
  .circleci/continue_config.yml
Due: none

Add git-diff logic
  .circleci/config.yml
Due: none

Rename through module 10
  03_Databases/.circleci/config.yml
  03_Databases/README.md
  03_Databases/src/README.md
  04_Parallelism/.circleci/config.yml
  04_Parallelism/README.md
  04_Parallelism/src/README.md
  04_Parallelism/src/test_goodbye.sh
  04_Parallelism/src/test_hello.sh
  05_Orbs/.circleci/config.yml
  05_Orbs/README.md
  05_Orbs/src/README.md
  06_Caching/.circleci/config.yml
  06_Caching/README.md
  06_Caching/package.json
  06_Caching/src/README.md
  07_Test Summary/.circleci/config.yml
  07_Test Summary/README.md
  07_Test Summary/src/README.md
  08_Branch filters/.circleci/config.yml
  08_Branch filters/README.md
  08_Branch filters/src/README.md
  09_Tag filters/.circleci/config.yml
  09_Tag filters/README.md
  09_Tag filters/src/README.md
  10_Workflow Fan out/.circleci/config.yml
  10_Workflow Fan out/README.md
  10_Workflow Fan out/src/README.md
Due: none

Write CHANGE_DIR to BASH_ENV
  .circleci/config.yml
Due: none

Make a change
  02_Yaml/.circleci/config.yml
Due: run_yaml, config_dir=02_Yaml

Change git diff command
  .circleci/config.yml
Due: none

Add debugging echo
  .circleci/config.yml
Due: none

Add $ prefix to BASH_ENV
  .circleci/config.yml
Due: none

Edit folder
  02_Yaml/.circleci/config.yml
Due: run_yaml, config_dir=02_Yaml

Update git-diff command
  .circleci/config.yml
Due: none

Add target config path
  .circleci/config.yml
Due: none

Change folder
  02_Yaml/.circleci/config.yml
Due: run_yaml, config_dir=02_Yaml

Fix quoting
  .circleci/config.yml
Due: none

Add continuation step
  .circleci/config.yml
Due: none

Change folder
  01_Hello_World/.circleci/config.yml
Due: run_hello, config_dir=01_Hello_World

Copy target config to continue_config
  .circleci/config.yml
Due: none

Fix filepath
  .circleci/config.yml
  .circleci/continue_config.yml
Due: none

Add name and command labels to steps
  .circleci/config.yml
  11 Workflow Sequential/.circleci/config.yml
Due: none

Update indentation
  .circleci/config.yml
Due: none

Change folder
  11 Workflow Sequential/.circleci/config.yml
Due: none

Change folder
  04_Parallelism/.circleci/config.yml
Due: none

Path conditions:
  run_hello: any of: 01_Hello_World/.*
  run_yaml: any of: 02_Yaml/.*
  config_dir=01_Hello_World: any of: 01_Hello_World/.*
  config_dir=02_Yaml: any of: 02_Yaml/.*
